{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div class="col-10 mx-auto">

  <div class="card recent-sales overflow-auto">
    <div class="card-body">
        {% if clientes %}
            <h5 class="card-title">Clientes</h5>

            <table class="table table-borderless datatable text-center table-hover" id="tabla">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Cedula</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Direccion</th>
                    <th class="text-center">Telefono</th>
                    <th class="text-center">Provincia</th>
                    <th class="text-center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for i, cliente in clientes %}
                <tr>
                    <td>{{i}}</td>
                    <td>{{cliente.cedula_xg}}</td>
                    <td>{{cliente.nombres_xg}} {{cliente.apellidos_xg}}</td>
                    <td>{{cliente.direccion_xg}}</td>
                    <td>{{cliente.telefono_xg}}</td>
                    <td>
                    {% if cliente.provincia_xg.bandera_xg %}
                    <a href="{{cliente.provincia_xg.bandera_xg.url}}" target="_blank">
                        <img
                        src="{{cliente.provincia_xg.bandera_xg.url}}"
                        alt="{{cliente.provincia_xg.nombre_xg}}"
                        width="30"
                        />
                    </a>
                    {% endif %}
                    <a href="/editarProvincia/{{cliente.provincia_xg.id_xg}}">{{cliente.provincia_xg.nombre_xg}}</a>
                    </td>
                    <td>
                    <a
                        href="/editarCliente/{{cliente.id_xg}}"
                        class="accion-update"
                        ><i class="bi bi-pencil-square"></i> Editar</a
                    >
                    <a
                        href="javascript:void(0)"
                        class="accion-delete"
                        onclick="eliminarFila('/eliminarCliente/{{cliente.id_xg}}', 'cliente')"
                        ><i class="bi bi-trash-fill"></i> Eliminar</a
                    >
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-danger text-center mt-4">No hay Clientes registrados</div>
        {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <button
        type="button"
        class="btn btn-principal"
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Cliente
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Cliente</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-cliente"
                    enctype="multipart/form-data"
                    method="POST"
                    action="/crearCliente/"
                  >
                    {% csrf_token %}
                    <div class="col-md-6">
                      <label for="nombres_xg" class="form-label">Nombres</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="nombres_xg"
                        name="nombres_xg"
                        placeholder="Segundo Xavier"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="apellidos_xg" class="form-label">Apellidos</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="apellidos_xg"
                        name="apellidos_xg"
                        placeholder="Gaspata Calo"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="cedula_xg" class="form-label">Cedula</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="cedula_xg"
                        name="cedula_xg"
                        placeholder="1750458965"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="telefono_xg" class="form-label">Telefono</label>
                      <input
                        required
                        type="tel"
                        class="form-control"
                        id="telefono_xg"
                        name="telefono_xg"
                        placeholder="0999999999"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="provincia_xg" class="form-label">Provincia</label>
                      <select
                        id="provincia_xg"
                        class="form-select"
                        name="provincia_xg"
                        required
                      >
                        <option selected value="">--Selecciona Provincia--</option>
                        {% for provincia in provincias%}
                            <option value="{{provincia.id_xg}}">{{provincia.nombre_xg}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-12">
                      <label for="bandera_xg" class="form-label">Direccion</label>
                      <input
                        type="text"
                        required
                        class="form-control"
                        id="direccion_xg"
                        name="direccion_xg"
                        placeholder="Av. 12 de Octubre y Patria"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Cliente
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Borrar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
