{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div class="col-11 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      {% if detalles %}
      <h5 class="card-title">Detalles</h5>

      <table
        class="table table-borderless datatable text-center table-hover"
        id="tabla"
      >
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Cantidad</th>
            <th class="text-center">Subtotal</th>
            <th class="text-center">Comentarios</th>
            <th class="text-center">Platillo</th>
            <th class="text-center">Pedido</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for i, detalle in detalles %}
          <tr style="vertical-align: middle">
            <td>{{i}}</td>
            <td>{{detalle.cantidad_xg}}</td>
            <td>{{detalle.subtotal_xg}}</td>
            <td>{{detalle.comentarios_xg}}</td>
            <td>{{detalle.platillo_xg}}</td>
            <td>{{detalle.pedido_xg.fecha_xg}} - {{detalle.pedido_xg.cliente_xg.nombres_xg}}</td>
            <td>
              <a href="/editarDetalle/{{detalle.id_xg}}" class="accion-update"
                ><i class="bi bi-pencil-square"></i> Editar</a
              >
              <a
                href="javascript:void(0)"
                class="accion-delete"
                onclick="eliminarFila('/eliminarDetalle/{{detalle.id_xg}}', 'platillos')"
                ><i class="bi bi-trash-fill"></i> Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-danger text-center mt-4">
        No hay Detalles registrados
      </div>
      {% endif %}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <button
        type="button"
        class="btn btn-principal"
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Detalle
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Detalle</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-detalle"
                    method="POST"
                    action="/crearDetalle/"
                  >
                    {% csrf_token %}
                    <div class="col-md-6">
                      <label for="cantidad_xg" class="form-label">Cantidad</label>
                      <input
                        required
                        type="number"
                        class="form-control"
                        id="cantidad_xg"
                        name="cantidad_xg"
                        placeholder="12"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="subtotal_xg" class="form-label"
                        >Subtotal</label
                      >
                      <input
                        required
                        type="number"
                        step="0.01"
                        class="form-control"
                        id="subtotal_xg"
                        name="subtotal_xg"
                        placeholder="144.00"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="comentarios_xg" class="form-label">Comentarios</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="comentarios_xg"
                        name="comentarios_xg"
                        placeholder="Sin cebolla, sin chile, etc."
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="platillo_xg" class="form-label"
                        >Platillo</label
                      >
                      <select
                        name="platillo_xg"
                        id="platillo_xg"
                        class="form-control"
                        required
                      >
                        <option value="">--Selecciona Platillo--</option>
                        {% for platillo in platillos %}
                        <option value="{{platillo.id_xg}}">
                          {{platillo.nombre_xg}}
                        </option>

                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-12">
                      <label for="pedido_xg" class="form-label"
                        >Pedidos</label
                      >
                      <select
                        name="pedido_xg"
                        id="pedido_xg"
                        class="form-control"
                        required
                      >
                        <option value="">--Selecciona Pedido--</option>
                        {% for pedido in pedidos %}
                        <option value="{{pedido.id_xg}}">
                          {{pedido.fecha_xg}} - {{pedido.cliente_xg.nombres_xg}}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Platillo
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Borrar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
