{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Platillo</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-platillo"
              enctype="multipart/form-data"
              method="POST"
              action="/actualizarPlatillo/"
            >
            {% csrf_token %}
              <input type="text" hidden value="{{platillo.id_xg}}" name="id_xg" />
              <div class="col-md-12">
                <label for="nombre_xg" class="form-label">Nombre</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="nombre_xg"
                  name="nombre_xg"
                  placeholder="Ensalada de verduras"
                    value="{{platillo.nombre_xg}}"
                />
              </div>
              <div class="col-md-12">
                <label for="descripcion_xg" class="form-label"
                  >Descripcion</label
                >
                <input
                  required
                  type="text"
                  class="form-control"
                  id="descripcion_xg"
                  name="descripcion_xg"
                  placeholder="Ensalada de verduras con aderezo de la casa y crutones"
                    value="{{platillo.descripcion_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="precio_xg" class="form-label">Precio</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="precio_xg"
                  name="precio_xg"
                  placeholder="5.99"
                value="{{platillo.precio_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="tipo_xg" class="form-label"
                  >Tipo Platillo</label
                >
                <select
                  name="tipo_xg"
                  id="tipo_xg"
                  class="form-control"
                  required
                >
                  <option value="">--Selecciona tipo--</option>
                  {% for tipo in tipos %}
                  <option value="{{tipo.id_xg}}">
                    {{tipo.nombre_xg}}
                  </option>

                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4">
                <label for="color_xg" class="form-label"
                  >Disponible</label
                >
                <br />
                <label for="disponible_xg_si">SI</label>
                <input
                  type="radio"
                  class="form-check-input"
                  id="disponible_xg_si"
                  name="disponible_xg"
                  style="width: 20px; height: 20px"
                  value="true"
                />
                  <label for="disponible_xg_no">NO</label>
                <input
                  type="radio"
                  class="form-check-input"
                  id="disponible_xg_no"
                  name="disponible_xg"
                  style="width: 20px; height: 20px"
                  value="false"
                />
              </div>
              <div class="col-md-12">
                <label for="imagen_xg" class="form-label">Imagen</label>
                {% if platillo.imagen_xg %}
                <img
                  src="{{platillo.imagen_xg.url}}"
                  alt="platillo platillo"
                  width="100px"
                />
                {% else %}
                <input
                    type="file"
                    required
                    class="form-control"
                    id="imagen_xg"
                    name="imagen_xg"
                    accept="image/*"
                />
                {% endif %}
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Platillo
                </button>
                <a type="reset" class="btn btn-warning" href="/platillos">
                  Cancelar
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //aparecer el modal
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
  });

  document.getElementById("tipo_xg").value = "{{platillo.tipo_xg.id_xg}}";
  //check radio button
    if ("{{platillo.disponible_xg}}" === "True") {
        document.getElementById("disponible_xg_si").checked = true;
    } else {
        document.getElementById("disponible_xg_si").checked = false;
    }

    if ("{{platillo.disponible_xg}}" === "False") {
        document.getElementById("disponible_xg_no").checked = true;
    } else {
        document.getElementById("disponible_xg_no").checked = false;
    }
</script>

{% endblock %}
