{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Receta</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-receta"
              method="POST"
              action="/actualizarReceta/"
            >
              {% csrf_token %}
              <input type="text" hidden value="{{receta.id_xg}}" name="id_xg" />
              <div class="col-md-12">
                <label for="platillo_xg" class="form-label">Platillo</label>
                <select
                  id="platillo_xg"
                  class="form-select"
                  name="platillo_xg"
                  required
                >
                  <option selected value="">--Selecciona Platillo--</option>
                  {% for platillo in platillos%}
                  <option value="{{platillo.id_xg}}">
                    {{platillo.nombre_xg}}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-12">
                <label for="ingrediente_xg" class="form-label"
                  >Ingrediente</label
                >
                <select
                  id="ingrediente_xg"
                  class="form-select"
                  name="ingrediente_xg"
                  required
                >
                  <option selected value="">--Selecciona Ingrediente--</option>
                  {% for ingrediente in ingredientes%}
                  <option value="{{ingrediente.id_xg}}">
                    {{ingrediente.nombre_xg}}
                  </option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-12">
                <label for="observaciones_xg" class="form-label"
                  >Observaciones</label
                >
                <input
                  required
                  type="text"
                  class="form-control"
                  id="observaciones_xg"
                  name="observaciones_xg"
                  placeholder="Receta para el almuerzo"
                  value="{{receta.observaciones_xg}}"
                />
              </div>
              <div class="col-md-12">
                <label for="instrucciones_xg" class="form-label"
                  >Instrucciones</label
                >
                <input
                  required
                  type="text"
                  class="form-control"
                  id="instrucciones_xg"
                  name="instrucciones_xg"
                  placeholder="Cocinar por 30 minutos"
                    value="{{receta.instrucciones_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="cantidad_xg" class="form-label">Cantidad</label>
                <input
                  required
                  type="number"
                  class="form-control"
                  id="cantidad_xg"
                  name="cantidad_xg"
                  placeholder="5"
                    value="{{receta.cantidad_xg}}"
                />
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Provincia
                </button>
                <a type="reset" class="btn btn-warning" href="/provincias">
                  Cancelar
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //aparecer el modal
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
    document.getElementById("platillo_xg").value = "{{receta.platillo_xg.id_xg}}";
    document.getElementById("ingrediente_xg").value =
      "{{receta.ingrediente_xg.id_xg}}";
  });
</script>

{% endblock %}
