{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Tipo</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-tipo"
              enctype="multipart/form-data"
              method="POST"
              action="/actualizarTipo/"
            >
            {% csrf_token %}
              <input type="text" hidden value="{{tipo.id_xg}}" name="id_xg" />
              <div class="col-md-12">
                <label for="nombre_xg" class="form-label">Nombre</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="nombre_xg"
                  name="nombre_xg"
                  placeholder="Ensalada"
                  value="{{tipo.nombre_xg}}"
                />
              </div>
              <div class="col-md-12">
                <label for="descripcion_xg" class="form-label">Descripcion</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="descripcion_xg"
                  name="descripcion_xg"
                  placeholder="Comida saludable con verduras para personas que cuidan su salud"
                    value="{{tipo.descripcion_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="prioridad_xg" class="form-label">Prioridad</label>
                <input
                  required
                  type="number"
                  class="form-control"
                  id="prioridad_xg"
                  name="prioridad_xg"
                  placeholder="1"
                    value="{{tipo.prioridad_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="color_xg" class="form-label">Color</label>
                <input
                  type="color"
                  required
                  class="form-control"
                  id="color_xg"
                  name="color_xg"
                    value="{{tipo.color_xg}}"
                />
              </div>
              <div class="col-md-12">
                <label for="imagen_xg" class="form-label">Imagen</label>
                {% if tipo.imagen_xg %}
                <img
                  src="{{tipo.imagen_xg.url}}"
                  alt="tipo platillo"
                  width="100px"
                />
                {% else %}
                <input
                    type="file"
                    required
                    class="form-control"
                    id="imagen_xg"
                    name="imagen_xg"
                    accept="image/*"
                />
                {% endif %}
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Tipo
                </button>
                <a type="reset" class="btn btn-warning" href="/tipos">
                  Cancelar
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //aparecer el modal
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
  });
</script>

{% endblock %}
