{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Provincia</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-provincia"
              enctype="multipart/form-data"
              method="POST"
              action="/actualizarProvincia/"
            >
              {% csrf_token %}
              <input
                type="text"
                hidden
                value="{{provincia.id_xg}}"
                name="id_xg"
              />
              <div class="col-md-6">
                <label for="nombre_xg" class="form-label">Nombre</label>

                <input
                  required
                  type="text"
                  class="form-control"
                  id="nombre_xg"
                  name="nombre_xg"
                  placeholder="Pichincha"
                  value="{{provincia.nombre_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="capital_xg" class="form-label">Capital</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="capital_xg"
                  name="capital_xg"
                  placeholder="Quito"
                  value="{{provincia.capital_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="alcalde_xg" class="form-label">Alcalde</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="alcalde_xg"
                  name="alcalde_xg"
                  placeholder="Juan Mendez"
                  value="{{provincia.alcalde_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="region_xg" class="form-label">Region</label>
                <select
                  id="region_xg"
                  class="form-select"
                  name="region_xg"
                  required
                >
                  <option selected value="">--Selecciona Region--</option>
                  <option value="sierra">Sierra</option>
                  <option value="costa">Costa</option>
                  <option value="amazonia">Amazonia</option>
                  <option value="insular">Insular</option>
                </select>
              </div>

              <div class="col-md-12">
                <label for="bandera_xg" class="form-label">Bandera</label>
                {% if provincia.bandera_xg %}
                <img
                  src="{{provincia.bandera_xg.url}}"
                  alt="bandera"
                  width="100px"
                />
                {% else %}
                <input
                  type="file"
                  class="form-control"
                  id="bandera_xg"
                  value="{{provincia.bandera_xg}}"
                  name="bandera_xg"
                  accept="image/*"
                />
                {% endif %}
              </div>
              <div class="col-md-12">
                <label for="sxgc_fecha_fundacion" class="form-label"
                  >Fecha Fundacion</label
                >
                <input
                  type="date"
                  required
                  class="form-control"
                  id="sxgc_fecha_fundacion"
                  name="sxgc_fecha_fundacion"
                  value="{{provincia.sxgc_fecha_fundacion|date:'Y-m-d'}}"
                />
              </div>
              <div class="col-md-12">
                <label for="sxgc_carta_fundacion" class="form-label"
                  >Carta Fundacion</label
                >
                {% if provincia.sxgc_carta_fundacion %}
                <img
                  src="{{provincia.sxgc_carta_fundacion.url}}"
                  alt="carta"
                  width="100px"
                />
                {% else %}
                <input
                  type="file"
                  required
                  class="form-control"
                  id="sxgc_carta_fundacion"
                  name="sxgc_carta_fundacion"
                  accept="image/*"
                />
                {% endif %}
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Provincia
                </button>
                <a type="reset" class="btn btn-warning" href="/provincias">
                  Cancelar
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //aparecer el modal
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
    $("#region_xg").val("{{provincia.region_xg}}".toLocaleLowerCase());
  });
</script>

{% endblock %}
