{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Pedido</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-pedido"
              method="POST"
              action="/actualizarPedido/"
            >
              {% csrf_token %}
              <input
                type="text"
                hidden
                value="{{pedido.id_xg}}"
                name="id_xg"
              />
              <div class="col-md-12">
                <label for="cliente_xg" class="form-label">Cliente</label>
                <select
                  id="cliente_xg"
                  class="form-select"
                  name="cliente_xg"
                  required
                >
                  <option selected value="">--Selecciona Cliente--</option>
                  {% for cliente in clientes%}
                      <option value="{{cliente.id_xg}}">{{cliente.nombres_xg}} {{cliente.apellidos_xg}}</option>
                  {% endfor %}
                </select>
              </div>
            <div class="col-md-6">
              <label for="fecha_xg" class="form-label">Fecha</label>
              <input
                required
                type="date"
                class="form-control"
                id="fecha_xg"
                value="{{pedido.fecha_xg|date:'Y-m-d'}}"
                name="fecha_xg"
              />
            </div>
            <div class="col-md-6">
              <label for="estado_xg" class="form-label">Estado</label>
              <input
                required
                type="text"
                class="form-control"
                id="estado_xg"
                name="estado_xg"
                placeholder="Pendiente"
                value="{{pedido.estado_xg}}"
              />
            </div>
            <div class="col-md-6">
              <label for="total_xg" class="form-label">Total</label>
              <input
                required
                type="number"
                class="form-control"
                id="total_xg"
                name="total_xg"
                placeholder="50"
                value="{{pedido.total_xg}}"
              />
            </div>
            <div class="col-md-12">
              <label for="observaciones_xg" class="form-label">Observaciones</label>
              <input
                required
                type="tel"
                class="form-control"
                id="observaciones_xg"
                name="observaciones_xg"
                placeholder="Sin cebolla"
                value="{{pedido.observaciones_xg}}"
              />
            </div>

              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Provincia
                </button>
                <a type="reset" class="btn btn-warning" href="/pedidos">
                  Cancelar
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //aparecer el modal
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
    document.getElementById("cliente_xg").value = "{{pedido.cliente_xg.id_xg}}";
  });
</script>

{% endblock %}
