{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Cliente</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-cliente"
              enctype="multipart/form-data"
              method="POST"
              action="/actualizarCliente/"
            >
            {% csrf_token %}
              <input type="text" hidden value="{{cliente.id_xg}}" name="id_xg" />
              <div class="col-md-6">
                <label for="nombres_xg" class="form-label">Nombres</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="nombres_xg"
                  name="nombres_xg"
                  placeholder="Segundo Xavier"
                  value="{{cliente.nombres_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="apellidos_xg" class="form-label">Apellidos</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="apellidos_xg"
                  name="apellidos_xg"
                  placeholder="Gaspata Calo"
                  value="{{cliente.apellidos_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="cedula_xg" class="form-label">Cedula</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="cedula_xg"
                  name="cedula_xg"
                  placeholder="1750458965"
                    value="{{cliente.cedula_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="telefono_xg" class="form-label">Telefono</label>
                <input
                  required
                  type="tel"
                  class="form-control"
                  id="telefono_xg"
                  name="telefono_xg"
                  placeholder="0999999999"
                    value="{{cliente.telefono_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="provincia_xg" class="form-label">Provincia</label>
                <select
                  id="provincia_xg"
                  class="form-select"
                  name="provincia_xg"
                  required
                >
                  <option selected value="">--Selecciona Provincia--</option>
                  {% for provincia in provincias%}
                      <option value="{{provincia.id_xg}}">{{provincia.nombre_xg}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-12">
                <label for="bandera_xg" class="form-label">Direccion</label>
                <input
                  type="text"
                  required
                  class="form-control"
                  id="direccion_xg"
                  name="direccion_xg"
                  placeholder="Av. 12 de Octubre y Patria"
                    value="{{cliente.direccion_xg}}"
                />
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Provincia
                </button>
                <a type="reset" class="btn btn-warning" href="/clientes">
                  Cancelar
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //aparecer el modal
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
    $("#provincia_xg").val("{{cliente.provincia_xg.id_xg}}".toLocaleLowerCase());
  });
</script>

{% endblock %}
