{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Ingrediente</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-ingrediente"
              method="POST"
              action="/actualizarIngrediente/"
            >
              {% csrf_token %}
              <input
                type="text"
                hidden
                value="{{ingrediente.id_xg}}"
                name="id_xg"
              />
              <div class="col-md-12">
                <label for="nombre_xg" class="form-label">Nombre</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="nombre_xg"
                  name="nombre_xg"
                  placeholder="Huevos"
                  value="{{ingrediente.nombre_xg}}"
                />
              </div>
              <div class="col-md-12">
                <label for="descripcion_xg" class="form-label"
                  >Descripcion</label
                >
                <input
                  required
                  type="text"
                  class="form-control"
                  id="descripcion_xg"
                  name="descripcion_xg"
                  placeholder="Huevos de gallina de corral de 12 unidades"
                  value="{{ingrediente.descripcion_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="cantidad_xg" class="form-label">Cantidad</label>
                <input
                  required
                  type="number"
                  class="form-control"
                  id="cantidad_xg"
                  name="cantidad_xg"
                  placeholder="12"
                  value="{{ingrediente.cantidad_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="unidad_xg" class="form-label">Unidad</label>
                <input
                  required
                  type="number"
                  class="form-control"
                  id="unidad_xg"
                  name="unidad_xg"
                  placeholder="12"
                  value="{{ingrediente.unidad_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="proveedor_xg" class="form-label">Proveedor</label>
                <input
                  type="text"
                  required
                  class="form-control"
                  id="proveedor_xg"
                  name="proveedor_xg"
                  placeholder="Maseca S.A"
                  value="{{ingrediente.proveedor_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="precio_xg" class="form-label">Precio</label>
                <input
                  required
                  type="number"
                  class="form-control"
                  id="precio_xg"
                  name="precio_xg"
                  placeholder="0.15"
                  step="0.01"
                  value="{{ingrediente.precio_xg}}"
                />
              </div>
              <div class="col-md-6">
                <label for="imagen_xg" class="form-label">Imagen</label>
                {% if ingrediente.imagen_xg %}
                <img
                  src="{{ingrediente.imagen_xg.url}}"
                  alt="ingrediente ingrediente"
                  width="100px"
                />
                {% else %}
                <input
                    type="file"
                    required
                    class="form-control"
                    id="imagen_xg"
                    name="imagen_xg"
                    accept="image/*"
                />
                {% endif %}
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Provincia
                </button>
                <a type="reset" class="btn btn-warning" href="/ingredientes">
                  Cancelar
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //aparecer el modal
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
  });
</script>

{% endblock %}
