{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Detalle</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-detalle"
              method="POST"
              action="/actualizarDetalle/"
            >
              {% csrf_token %}
              <input
                type="text"
                hidden
                value="{{detalle.id_xg}}"
                name="id_xg"
              />
              <div class="col-md-6">
                <label for="cantidad_xg" class="form-label">Cantidad</label>
                <input
                  required
                  type="number"
                  class="form-control"
                  id="cantidad_xg"
                  name="cantidad_xg"
                  value="{{detalle.cantidad_xg}}"
                  placeholder="12"
                />
              </div>
              <div class="col-md-6">
                <label for="subtotal_xg" class="form-label"
                  >Subtotal</label
                >
                <input
                  required
                  type="number"
                  step="0.01"
                  class="form-control"
                  id="subtotal_xg"
                  name="subtotal_xg"
                  placeholder="144.00"
                    value="{{detalle.subtotal_xg}}"
                />
              </div>
              <div class="col-md-12">
                <label for="comentarios_xg" class="form-label">Comentarios</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="comentarios_xg"
                  name="comentarios_xg"
                  placeholder="Sin cebolla, sin chile, etc."
                    value="{{detalle.comentarios_xg}}"
                />
              </div>
              <div class="col-md-12">
                <label for="platillo_xg" class="form-label"
                  >Platillo</label
                >
                <select
                  name="platillo_xg"
                  id="platillo_xg"
                  class="form-control"
                  required
                >
                  <option value="">--Selecciona Platillo--</option>
                  {% for platillo in platillos %}
                  <option value="{{platillo.id_xg}}">
                    {{platillo.nombre_xg}}
                  </option>

                  {% endfor %}
                </select>
              </div>
              <div class="col-md-12">
                <label for="pedido_xg" class="form-label"
                  >Pedidos</label
                >
                <select
                  name="pedido_xg"
                  id="pedido_xg"
                  class="form-control"
                  required
                >
                  <option value="">--Selecciona Pedido--</option>
                  {% for pedido in pedidos %}
                  <option value="{{pedido.id_xg}}">
                    {{pedido.fecha_xg}} - {{pedido.cliente_xg.nombres_xg}}
                  </option>
                  {% endfor %}
                </select>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Detalle
                </button>
                <a type="reset" class="btn btn-warning" href="/detalles">
                  Cancelar
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //aparecer el modal
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
    document.getElementById("platillo_xg").value = "{{detalle.platillo_xg.id_xg}}";
    document.getElementById("pedido_xg").value = "{{detalle.pedido_xg.id_xg}}";
  });
</script>

{% endblock %}
