{% extends "plantilla.html" %} {% load static %} {% block contenido %}
<div class="col-8 mx-auto">
  <div class="card recent-sales overflow-auto">
    <h5 class="card-title px-4">Enviar Correo</h5>

    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <form
            class="row g-3"
            id="form-send-email"
            method="POST"
            action="/procesarEnvioMensaje/"
          >
            {% csrf_token %}
            <div class="col-md-6">
              <label for="destinatario" class="form-label">Destinatario</label>
              <input
                required
                type="email"
                class="form-control"
                id="destinatario"
                name="destinatario"
                placeholder="karenvasquez5485@gmail.com"
              />
            </div>
            <div class="col-md-6">
              <label for="asunto" class="form-label">Asunto</label>
              <input
                required
                type="text"
                class="form-control"
                id="asunto"
                name="asunto"
                placeholder="Trabajo de Mesera en The Gourmet"
              />
            </div>
            <div class="col-md-12">
              <label for="cuerpo" class="form-label">Mensaje</label>
              <textarea
                required
                class="form-control"
                id="cuerpo"
                name="cuerpo"
                rows="3"
                placeholder="Hola Karen, te escribo para ofrecerte un trabajo de mesera en The Gourmet."
              ></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-principal">
                Enviar Mensaje
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock contenido %}
