{% extends 'plantilla.html' %}

{% block contenido %}
    <h1 class="text-center card-title">Restaurante THE GOURMET</h1>
    <p class="text-center">El mejor restaurante de la ciudad</p>
{% endblock %}
