{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div class="col-11 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      {% if ingredientes %}
      <h5 class="card-title">Ingredientes</h5>

      <table
        class="table table-borderless datatable text-center table-hover"
        id="tabla"
      >
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Imagen</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Descripcion</th>
            <th class="text-center">Cantidad</th>
            <th class="text-center">Unidad</th>
            <th class="text-center">Proveedor</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for i, ingrediente in ingredientes %}
          <tr style="vertical-align: middle">
            <td>{{i}}</td>
            <td>
                {% if ingrediente.imagen_xg %}
                    <img width="50" src="{{ingrediente.imagen_xg.url}}" alt="{{ingrediente.nombre_xg}}">
                {% else %}
                    <p>SN</p>
                {% endif %}
            </td>
            <td>{{ingrediente.nombre_xg}}</td>
            <td>{{ingrediente.descripcion_xg}}</td>
            <td>{{ingrediente.cantidad_xg}}</td>
            <td>{{ingrediente.unidad_xg}}</td>
            <td>{{ingrediente.proveedor_xg}}</td>
            <td>$ {{ingrediente.precio_xg}}</td>
            <td>
              <a href="/editarIngrediente/{{ingrediente.id_xg}}" class="accion-update"
                ><i class="bi bi-pencil-square"></i> Editar</a
              >
              <a
                href="javascript:void(0)"
                class="accion-delete"
                onclick="eliminarFila('/eliminarIngrediente/{{ingrediente.id_xg}}', 'ingredientes')"
                ><i class="bi bi-trash-fill"></i> Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-danger text-center mt-4">
        No hay Ingredientes registrados
      </div>
      {% endif %}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <button
        type="button"
        class="btn btn-principal"
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Ingrediente
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Ingrediente</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-ingrediente"
                    enctype="multipart/form-data"
                    method="POST"
                    action="/crearIngrediente/"
                  >
                    {% csrf_token %}
                    <div class="col-md-12">
                      <label for="nombre_xg" class="form-label">Nombre</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="nombre_xg"
                        name="nombre_xg"
                        placeholder="Huevos"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="descripcion_xg" class="form-label"
                        >Descripcion</label
                      >
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="descripcion_xg"
                        name="descripcion_xg"
                        placeholder="Huevos de gallina de corral de 12 unidades"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="cantidad_xg" class="form-label">Cantidad</label>
                      <input
                        required
                        type="number"
                        class="form-control"
                        id="cantidad_xg"
                        name="cantidad_xg"
                        placeholder="12"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="unidad_xg" class="form-label">Unidad</label>
                      <input
                        required
                        type="number"
                        class="form-control"
                        id="unidad_xg"
                        name="unidad_xg"
                        placeholder="12"
                      />
                    </div>
                    <div class="col-md-6">
                        <label for="proveedor_xg" class="form-label">Proveedor</label>
                        <input
                          type="text"
                          required
                          class="form-control"
                          id="proveedor_xg"
                          name="proveedor_xg"
                          placeholder="Maseca S.A"
                        />
                      </div>
                      <div class="col-md-6">
                        <label for="precio_xg" class="form-label">Precio</label>
                        <input
                          required
                          type="number"
                          class="form-control"
                          id="precio_xg"
                          name="precio_xg"
                          placeholder="0.15"
                          step="0.01"
                        />
                      </div>
                    <div class="col-md-6">
                      <label for="imagen_xg" class="form-label">Imagen</label>
                      <input
                        type="file"
                        required
                        class="form-control"
                        id="imagen_xg"
                        name="imagen_xg"
                        accept="image/*"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Ingrediente
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Borrar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
