{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div class="col-10 mx-auto">

  <div class="card recent-sales overflow-auto">
    <div class="card-body">
        {% if pedidos %}
            <h5 class="card-title">Pedidos</h5>

            <table class="table table-borderless datatable text-center table-hover" id="tabla">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Estado</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Observaciones</th>
                    <th class="text-center">Cliente</th>
                    <th class="text-center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for i, pedido in pedidos %}
                <tr>
                    <td>{{i}}</td>
                    <td>{{pedido.fecha_xg}}</td>
                    <td>{{pedido.estado_xg}}</td>
                    <td>{{pedido.total_xg}}</td>
                    <td>{{pedido.observaciones_xg}}</td>
                    <td>{{pedido.cliente_xg}}</td>
                    <td>
                        <a
                            href="/editarPedido/{{pedido.id_xg}}"
                            class="accion-update"
                            ><i class="bi bi-pencil-square"></i> Editar</a
                        >
                        <a
                            href="javascript:void(0)"
                            class="accion-delete"
                            onclick="eliminarFila('/eliminarPedido/{{pedido.id_xg}}', 'pedidos')"
                            ><i class="bi bi-trash-fill"></i> Eliminar</a
                        >
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-danger text-center mt-4">No hay Pedidos registrados</div>
        {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <button
        type="button"
        class="btn btn-principal"
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Pedido
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Pedido</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-pedido"
                    enctype="multipart/form-data"
                    method="POST"
                    action="/crearPedido/"
                  >
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label for="cliente_xg" class="form-label">Cliente</label>
                        <select
                          id="cliente_xg"
                          class="form-select"
                          name="cliente_xg"
                          required
                        >
                          <option selected value="">--Selecciona Cliente--</option>
                          {% for cliente in clientes%}
                              <option value="{{cliente.id_xg}}">{{cliente.nombres_xg}} {{cliente.apellidos_xg}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    <div class="col-md-6">
                      <label for="fecha_xg" class="form-label">Fecha</label>
                      <input
                        required
                        type="date"
                        class="form-control"
                        id="fecha_xg"
                        name="fecha_xg"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="estado_xg" class="form-label">Estado</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="estado_xg"
                        name="estado_xg"
                        placeholder="Pendiente"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="total_xg" class="form-label">Total</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="total_xg"
                        name="total_xg"
                        placeholder="0.00"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="observaciones_xg" class="form-label">Observaciones</label>
                      <input
                        required
                        type="tel"
                        class="form-control"
                        id="observaciones_xg"
                        name="observaciones_xg"
                        placeholder="Sin cebolla"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Pedido
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Borrar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
