{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- Styles -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Jquery  -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <!-- Jquery Validate -->
    <script src="{% static 'library/jquery-validate/jquery.validate.js' %}"></script>

    <!-- IzyToast -->
    <link rel="stylesheet" href="{% static 'css/iziToast.min.css' %} " />
    <script src="{% static 'js/iziToast.min.js' %}"></script>

    <!-- Mas librerias-->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"
    />
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

    <title>Restaurante The Gourmet</title>
  </head>
  <body>
    <!--todo: ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <img src="assets/img/logo.png" alt="" />
          <span class="d-none d-lg-block">The Gourmet</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>

      <div class="search-bar">
        <div class="search-form d-flex align-items-center">
          <input
            type="text"
            name="query"
            placeholder="Buscar..."
            title="Ingresa una palabra de busqueda"
          />
          <button type="submit" title="Buscar">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">4</span>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-chat-left-text"></i>
              <span class="badge bg-success badge-number">3</span>
            </a>
          </li>

          <li class="nav-item dropdown pe-3">
            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
              <img
                src="https://avatars.githubusercontent.com/u/66884219?s=400&u=5c5877cc846ce1f26f9cd2734cb5f909a434948c&v=4"
                alt="Profile"
                class="rounded-circle"
              />
              <span class="d-none d-md-block dropdown-toggle ps-2"
                >X. Gaspata</span
              >
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <!--todo: End Header -->

    <!--todo: ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="bi bi-shop"></i>
            <span>Inicio</span>
          </a>
        </li>

        <li class="nav-heading">Restaurante</li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="/provincias">
            <i class="bi bi-flag-fill"></i>
            <span>Provincias</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="/clientes">
            <i class="bi bi-people-fill"></i>
            <span>Clientes</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="/pedidos">
            <i class="bi bi-headset"></i>
            <span>Pedidos</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="/tipos">
            <i class="bi bi-cake2-fill"></i>
            <span>Tipos</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="/platillos">
            <i class="bi bi-cup-hot-fill"></i>
            <span>Platillos</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="/detalles">
            <i class="bi bi-list-check"></i>
            <span>Detalles</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="/ingredientes">
            <i class="bi bi-egg-fill"></i>
            <span>Ingredientes</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="/recetas">
            <i class="bi bi-clipboard2-check-fill"></i>
            <span>Recetas</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="/enviar-mensaje">
            <i class="bi bi-envelope-at-fill"></i>
            <span>Mensaje</span>
          </a>
        </li>
      </ul>
    </aside>
    <!--todo: End Sidebar-->

    <main id="main" class="main">{% block contenido %} {% endblock %}</main>

    {% if messages %} {% for message in messages %}
    <script>
      iziToast.success({
        title: "CONFIRMACION",
        message: "{{message}}",
        position: "topLeft",
      });
    </script>
    {% endfor %} {% endif %}

    <script src="{% static 'js/index.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <script src="{% static 'js/messages.js' %}"></script>
    <script src="{% static 'js/table.js' %}"></script>
  </body>
</html>
