{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div class="col-11 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      {% if platillos %}
      <h5 class="card-title">Platillos</h5>

      <table
        class="table table-borderless datatable text-center table-hover"
        id="tabla"
      >
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Imagen</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Descripcion</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Disponible</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for i, platillo in platillos %}
          <tr style="vertical-align: middle">
            <td>{{i}}</td>
            <td>
              {% if platillo.imagen_xg %}
              <a href="{{platillo.imagen_xg.url}}" target="_blank">
                <img
                  src="{{platillo.imagen_xg.url}}"
                  alt="{{platillo.nombre_xg}}"
                  width="50"
                />
              </a>
              {% else %}
              <p>NA</p>
              {% endif %}
            </td>
            <td>{{platillo.nombre_xg}}</td>
            <td>{{platillo.descripcion_xg}}</td>
            <td>{{platillo.tipo_xg.nombre_xg}}</td>
            <td>$ {{platillo.precio_xg}}</td>
            <td>
              {% if platillo.disponible_xg == True %}
              <i
                class="bi bi-bookmark-check-fill"
                style="color: green; font-size: 25px"
              ></i>
              {% else %}
              <i
                class="bi bi-bookmark-x-fill"
                style="color: #f50537; font-size: 25px"
              ></i>
              {% endif %}
            </td>
            <td>
              <a href="/editarPlatillo/{{platillo.id_xg}}" class="accion-update"
                ><i class="bi bi-pencil-square"></i> Editar</a
              >
              <a
                href="javascript:void(0)"
                class="accion-delete"
                onclick="eliminarFila('/eliminarPlatillo/{{platillo.id_xg}}', 'platillos')"
                ><i class="bi bi-trash-fill"></i> Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-danger text-center mt-4">
        No hay Platillos registrados
      </div>
      {% endif %}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <button
        type="button"
        class="btn btn-principal"
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Platillo
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Platillo</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-platillo"
                    enctype="multipart/form-data"
                    method="POST"
                    action="/crearPlatillo/"
                  >
                    {% csrf_token %}
                    <div class="col-md-12">
                      <label for="nombre_xg" class="form-label">Nombre</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="nombre_xg"
                        name="nombre_xg"
                        placeholder="Ensalada de verduras"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="descripcion_xg" class="form-label"
                        >Descripcion</label
                      >
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="descripcion_xg"
                        name="descripcion_xg"
                        placeholder="Ensalada de verduras con aderezo de la casa y crutones"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="precio_xg" class="form-label">Precio</label>
                      <input
                        required
                        type="number"
                        class="form-control"
                        id="precio_xg"
                        name="precio_xg"
                        step="0.01"
                        placeholder="5.99"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="tipo_xg" class="form-label"
                        >Tipo Platillo</label
                      >
                      <select
                        name="tipo_xg"
                        id="tipo_xg"
                        class="form-control"
                        required
                      >
                        <option value="">--Selecciona tipo--</option>
                        {% for tipo in tipos %}
                        <option value="{{tipo.id_xg}}">
                          {{tipo.nombre_xg}}
                        </option>

                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-8">
                      <label for="imagen_xg" class="form-label">Imagen</label>
                      <input
                        type="file"
                        required
                        class="form-control"
                        id="imagen_xg"
                        name="imagen_xg"
                        accept="image/*"
                      />
                    </div>
                    <div class="col-md-4">
                      <label for="color_xg" class="form-label"
                        >Disponible</label
                      >
                      <br />
                      <label for="disponible_xg_si">SI</label>
                      <input
                        type="radio"
                        class="form-check-input"
                        id="disponible_xg_si"
                        name="disponible_xg"
                        checked
                        style="width: 20px; height: 20px"
                        value="true"
                      />
                        <label for="disponible_xg_no">NO</label>
                      <input
                        type="radio"
                        class="form-check-input"
                        id="disponible_xg_no"
                        name="disponible_xg"
                        style="width: 20px; height: 20px"
                        value="false"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Platillo
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Borrar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
