{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div class="col-10 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      <h5 class="card-title">Provincias</h5>

      <table
        class="table table-borderless datatable text-center table-hover"
        id="tabla"
      >
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Bandera</th>
            <th class="text-center">Provincia</th>
            <th class="text-center">Capital</th>
            <th class="text-center">Region</th>
            <th class="text-center">Alcalde</th>
            <th class="text-center">Fecha Fundacion</th>
            <th class="text-center">Carta Fundacion</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for i, provincia in provincias %}
          <tr>
            <td>{{i}}</td>
            <td>
              {% if provincia.bandera_xg %}
              <a href="{{provincia.bandera_xg.url}}" target="_blank">
                <img
                  src="{{provincia.bandera_xg.url}}"
                  alt="{{provincia.nombre_xg}}"
                  width="50"
                />
              </a>
              {% else %}
              <p>NA</p>
              {% endif %}
            </td>
            <td>{{provincia.nombre_xg}}</td>
            <td>{{provincia.capital_xg}}</td>
            <td>{{provincia.region_xg}}</td>
            <td>{{provincia.alcalde_xg}}</td>
            <td>{{provincia.sxgc_fecha_fundacion}}</td>
            <td>
              {% if provincia.sxgc_carta_fundacion %}
              <a href="{{provincia.sxgc_carta_fundacion.url}}" target="_blank">
                <img
                  src="{{provincia.sxgc_carta_fundacion.url}}"
                  alt="{{provincia.nombre_xg}}"
                  width="50"
                />
              </a>
              {% else %}
              <p>NA</p>
              {% endif %}
            </td>

            <td>
              <a
                href="/editarProvincia/{{provincia.id_xg}}"
                class="accion-update"
                ><i class="bi bi-pencil-square"></i> Editar</a
              >
              <a
                href="javascript:void(0)"
                class="accion-delete"
                onclick="eliminarFila('/eliminarProvincia/{{provincia.id_xg}}', 'provincia')"
                ><i class="bi bi-trash-fill"></i> Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <button
        type="button"
        class="btn btn-principal"
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Provincia
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Provincia</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-provincia"
                    enctype="multipart/form-data"
                    method="POST"
                    action="/crearProvincia/"
                  >
                    {% csrf_token %}
                    <div class="col-md-6">
                      <label for="nombre_xg" class="form-label">Nombre</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="nombre_xg"
                        name="nombre_xg"
                        placeholder="Pichincha"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="capital_xg" class="form-label">Capital</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="capital_xg"
                        name="capital_xg"
                        placeholder="Quito"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="alcalde_xg" class="form-label">Alcalde</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="alcalde_xg"
                        name="alcalde_xg"
                        placeholder="Juan Mendez"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="region_xg" class="form-label">Region</label>
                      <select
                        id="region_xg"
                        class="form-select"
                        name="region_xg"
                        required
                      >
                        <option selected value="">--Selecciona Region--</option>
                        <option value="sierra">Sierra</option>
                        <option value="costa">Costa</option>
                        <option value="amazonia">Amazonia</option>
                        <option value="insular">Insular</option>
                      </select>
                    </div>
                    <div class="col-md-12">
                      <label for="bandera_xg" class="form-label">Bandera</label>
                      <input
                        type="file"
                        required
                        class="form-control"
                        id="bandera_xg"
                        name="bandera_xg"
                        accept="image/*"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="sxgc_fecha_fundacion" class="form-label"
                        >Fecha Fundacion</label
                      >
                      <input
                        type="date"
                        required
                        class="form-control"
                        id="sxgc_fecha_fundacion"
                        name="sxgc_fecha_fundacion"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="sxgc_carta_fundacion" class="form-label"
                        >Carta Fundacion</label
                      >
                      <input
                        type="file"
                        required
                        class="form-control"
                        id="sxgc_carta_fundacion"
                        name="sxgc_carta_fundacion"
                        accept="image/*"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Provincia
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Borrar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
