{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div class="col-10 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      {% if recetas %}
      <h5 class="card-title">Recetas</h5>

      <table
        class="table table-borderless datatable text-center table-hover"
        id="tabla"
      >
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Cantidad</th>
            <th class="text-center">Observaciones</th>
            <th class="text-center">Instrucciones</th>
            <th class="text-center">Platillo</th>
            <th class="text-center">Ingrediente</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for i, receta in recetas %}
          <tr>
            <td>{{i}}</td>
            <td>{{receta.cantidad_xg}}</td>
            <td>{{receta.observaciones_xg}}</td>
            <td>{{receta.instrucciones_xg}}</td>
            <td>{{receta.platillo_xg.nombre_xg}}</td>
            <td>{{receta.ingrediente_xg.nombre_xg}}</td>
            <td>
              <a href="/editarReceta/{{receta.id_xg}}" class="accion-update"
                ><i class="bi bi-pencil-square"></i> Editar</a
              >
              <a
                href="javascript:void(0)"
                class="accion-delete"
                onclick="eliminarFila('/eliminarReceta/{{receta.id_xg}}', 'recetas')"
                ><i class="bi bi-trash-fill"></i> Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-danger text-center mt-4">
        No hay Recetas registrados
      </div>
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <button
        type="button"
        class="btn btn-principal"
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Receta
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Receta</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-receta"
                    method="POST"
                    action="/crearReceta/"
                  >
                    {% csrf_token %}
                    <div class="col-md-12">
                      <label for="platillo_xg" class="form-label"
                        >Platillo</label
                      >
                      <select
                        id="platillo_xg"
                        class="form-select"
                        name="platillo_xg"
                        required
                      >
                        <option selected value="">
                          --Selecciona Platillo--
                        </option>
                        {% for platillo in platillos%}
                        <option value="{{platillo.id_xg}}">
                          {{platillo.nombre_xg}}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-12">
                      <label for="ingrediente_xg" class="form-label"
                        >Ingrediente</label
                      >
                      <select
                        id="ingrediente_xg"
                        class="form-select"
                        name="ingrediente_xg"
                        required
                      >
                        <option selected value="">
                          --Selecciona Ingrediente--
                        </option>
                        {% for ingrediente in ingredientes%}
                        <option value="{{ingrediente.id_xg}}">
                          {{ingrediente.nombre_xg}}
                        </option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="col-md-12">
                      <label for="observaciones_xg" class="form-label"
                        >Observaciones</label
                      >
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="observaciones_xg"
                        name="observaciones_xg"
                        placeholder="Receta para el almuerzo"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="instrucciones_xg" class="form-label"
                        >Instrucciones</label
                      >
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="instrucciones_xg"
                        name="instrucciones_xg"
                        placeholder="Cocinar por 30 minutos"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="cantidad_xg" class="form-label"
                        >Cantidad</label
                      >
                      <input
                        required
                        type="number"
                        class="form-control"
                        id="cantidad_xg"
                        name="cantidad_xg"
                        placeholder="5"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Cliente
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Borrar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
