{% extends 'plantilla.html' %} {% load static %} {% block contenido %}

<div class="col-10 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
        {% if tipos %}
            <h5 class="card-title">Tipos Platillos</h5>

            <table class="table table-borderless datatable text-center table-hover" id="tabla">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Imagen</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Descripcion</th>
                    <th class="text-center">Prioridad</th>
                    <th class="text-center">Color</th>
                    <th class="text-center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for i, tipo in tipos %}
                <tr style="vertical-align: middle;">
                    <td>{{i}}</td>
                    <td>
                    {% if tipo.imagen_xg %}
                    <a href="{{tipo.imagen_xg.url}}" target="_blank">
                        <img
                        src="{{tipo.imagen_xg.url}}"
                        alt="{{tipo.nombre_xg}}"
                        width="50"
                        />
                    </a>
                    {% else %}
                    <p>NA</p>
                    {% endif %}
                    </td>
                    <td>{{tipo.nombre_xg}}</td>
                    <td>{{tipo.descripcion_xg}}</td>
                    <td>{{tipo.prioridad_xg}}</td>
                    <td><div id="color" style="width: 30px; height: 30px;" data-color="{{tipo.color_xg}}" class="mx-auto"></div></td>
                    <td>
                    <a
                        href="/editarTipo/{{tipo.id_xg}}"
                        class="accion-update"
                        ><i class="bi bi-pencil-square"></i> Editar</a
                    >
                    <a
                        href="javascript:void(0)"
                        class="accion-delete"
                        onclick="eliminarFila('/eliminarTipo/{{tipo.id_xg}}', 'tipo de platillo')"
                        ><i class="bi bi-trash-fill"></i> Eliminar</a
                    >
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-danger text-center mt-4">No hay Tipos de platillos registrados</div>
        {% endif %}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <button
        type="button"
        class="btn btn-principal"
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Tipo
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Tipo</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-tipo"
                    enctype="multipart/form-data"
                    method="POST"
                    action="/crearTipo/"
                  >
                    {% csrf_token %}
                    <div class="col-md-12">
                      <label for="nombre_xg" class="form-label">Nombre</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="nombre_xg"
                        name="nombre_xg"
                        placeholder="Ensalada"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="descripcion_xg" class="form-label">Descripcion</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="descripcion_xg"
                        name="descripcion_xg"
                        placeholder="Comida saludable con verduras para personas que cuidan su salud"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="prioridad_xg" class="form-label">Prioridad</label>
                      <input
                        required
                        type="number"
                        class="form-control"
                        id="prioridad_xg"
                        name="prioridad_xg"
                        placeholder="1"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="color_xg" class="form-label">Color</label>
                      <input
                        type="color"
                        required
                        class="form-control"
                        id="color_xg"
                        name="color_xg"
                        value="#012970"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="imagen_xg" class="form-label">Imagen</label>
                      <input
                        type="file"
                        required
                        class="form-control"
                        id="imagen_xg"
                        name="imagen_xg"
                        accept="image/*"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Tipo
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Borrar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
    const divColores = document.querySelectorAll('#color');
    divColores.forEach(div => {
        div.style.backgroundColor = div.dataset.color;
    });
</script>

{% endblock %}
